{% extends "template.html" %}
{% block content %}
<div class="mt-1">
    <center>
        <div class="w-50">
            <form method="POST" action="/update-task">
                <input type="hidden" name="id" value="{{id}}">
                <label for="situation">Selecione a situação atual da tarefa</label>
                </br>
                </br>
                <select name="situation" class="form-select" aria-label="Default select example">
                  <option value="Aberta">Aberta</option>
                  <option value="Pendente">Pendente</option>
                  <option value="Realizada">Realizada</option>
                  <option value="Atrasada">Atrasada</option>
                </select>
                </br>
                <button type="submit" class="btn btn-primary">Atualizar</button>
                <a class='btn btn-danger' href="{{url_for('index')}}">Voltar</a>
            </form>
        </div>
    </center>
</div>
{% endblock %}